/* CSS for task_1 */
body {
    font: 1.2em / 1.5 sans-serif;
}

.grid>* {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
}