/* CSS for task_2 */
body {
  font: 1.2em / 1.5 sans-serif;
}

ul {
  max-width: 750px;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
}

body > ul {
    display: flex;
    flex-direction: row;
    /* align-items: start; */
}

ul > li {
    flex: 1;
}

ul > li:first-child {
    flex: 2;
}