/* CSS for task_1 */
body {
    font: 1.2em / 1.5 sans-serif;
}

nav ul {
    max-width: 750px;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;

}

nav a:link,
nav a:visited {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}


nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: start;
}