/* General styles */

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #333333;
    margin: 0;
    font: 1.2em / 1.6 sans-serif;
    padding: 0 20px 20px 20px;
}

img {
    display: block;
    border: 1px solid black;
    /* FIXING A COUPLE OF DISPLAY ISSUES TASK 2 */
    max-width: 100%;
}

header {
    padding: 50px 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 200%;
}

button {
    font-size: 250%;
    border: 0;
    background: none;
    cursor: pointer;
}

button:hover,
button:focus {
    text-shadow: 0 0 2px black;
}

nav {
    position: fixed;
    inset: 10%;
    background-color: white;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

nav li {
    flex: 1;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    font-weight: bold;
}

.photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
}

.feature {
    width: 200px;
    float: left;
    margin: 8px 30px 20px 0;
}

@media (width >=800px) {

    /* CREATING THE MIDDLE LAYOUT TASK 1 */
    button {
        display: none;
    }

    nav {
        display: block;
        /* CREATING MIDDLE LAYOUT TASK 2 */
        position: sticky;
        top: 0;
    }

    nav ul {
        /* CREATING MIDDLE LAYOUT TASK 3 */
        flex-direction: row;
    }

    /* CREATING MIDDLE LAYOUT TASK 4 */
    nav a {
        padding: 10px 0;
        font: 100%;
    }

    /* CREATING MIDDLE LAYOUT TASK 5 */
    .grid {
        display: grid;
        grid-template-areas: 
        "nav nav nav nav"
        "article article article aside";
        gap: 20px;
    }

    nav {
        grid-area: nav;
    }

    article {
        grid-area: article;
    }

    aside {
        grid-area: aside;
    }
}

/* CREATING WIDE SCREEN LAYOUT TASK 1 */
@media (width > 1300px) {

    .grid {
        grid-template-areas:
        "nav article article article aside";
        /* grid-template-columns: 1fr 3fr 1fr; */
    }
    
    nav{
        grid-area: nav;
        position: static;
    }

    article {
        grid-area: article;
    }

    aside {
        grid-area: aside;
    }

    nav ul {
        /* CREATING THE WIDE SCREEN LAYOUT TASK 2: changing flex-direction to column. */
        flex-direction: column;
        justify-content: start;
    }
    /* CREATING WIDE SCREEN LAYOUT TASK 3 */
    nav li {
        flex: unset;
    }
}