/* CSS for defining_a_grid */
body {
  font-family: sans-serif;
}
.container > div {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207 232 220);
  border: 2px solid rgb(79 185 227);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 40px 100px 200px; */
    gap: 20px;
    grid-auto-rows: minmax(50px, auto);
}

