/* CSS for nesting_grids_and_subgrids_example_2 */
.container {
    font-family: sans-serif;
}

.container div {
    border-radius: 5px;
    padding: 10px;
    background-color: rebeccapurple;
    border: 1px solid white;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
}

.subgrid {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    display: grid;
    gap: inherit;
    grid-template-columns: subgrid;
    grid-template-rows: 2fr 1fr;
}