/* CSS for challenge_sizing_and_decorating */
/* Type and text */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: inherit;
    font: 1.2em / 1.5 system-ui;
    margin: 0 auto;
}

/* HEADINGS 2 */
h1 {
    font-size: calc(2vw + 1em);
}

/* HEADINGS 1 */
h1::before {
    content: "📖";
    margin-right: 20px;

}

/* HEADINGS 2 */
h2 {
    font-size: calc(1.5vw + 0.75em);
}

a {
    color: red;
}

a:hover,
a:focus {
    text-decoration: none;
}

/* Styling the pane */

.pane {
    height: 100%;
    /* CONTAINER SIZING 1 */
    width: clamp(480px, 60%, 1000px);
    /* CONTAINER SIZING 2 */
    margin: 0 auto;
}

h1,
.controls {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* CONTAINER 3 */
    height: 100px;
}

.content {
    overflow: auto;
    /* CONTAINER 3 */
    height: calc(100% - 200px);
}

.controls {
    justify-content: space-around;
    gap: 20px;
    padding: 20px;

}

button {
    flex: 1;
    /* CONTAINER 4 */
    height: 100%;
    /* CONTAINER 4 */
    font-size: 1.2em;
}

/* CONTAINER 5 */
.pane,
.content {
    padding: 0 20px;
}

/* IMAGE 1 & 2*/
img {
    max-width: 90%;
    margin: 0 auto;
    display: block;
}

/* DECORATION 1 */
.pane {
    background: linear-gradient(180deg, #9fb4c7, #7f7caf)
}

/* DECORATION 2 */
img {
    border: 1px solid #28587b;
}
/* DECORATION 2 */
div[class="content"] {
    border: 2px solid #28587b;
}

/* DECORATION 3 */
.content {
    background: #eeeeff 
    url("https://mdn.github.io/shared-assets/images/examples/big-star.png")
    no-repeat top 10px right 20px;
}

/* DECORATION 4 */
button {
    color: white;
    background: rgb(40 88 123 / 0.8);
}
/* DECORATION 4 */
button:hover,
button:focus {
    background: rgb(40 88 123 / 1);
}

/* DECORATION 5 */
button,
.content {
    border-radius: 10px;
}