/* CSS for task_1 */
p {
    color: purple;
    margin: 0.5em 0;
}

* {
    box-sizing: border-box;
}

button {
    display: block;
    margin: 20px 0 20px 20px;
}

canvas {
    border: 1px solid black;
}