/* CSS for do_you_really_need_a_media_query */
body {
    font: 1.2em / 1.5 sans-serif;
}

.grid {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.grid li {
    border: 1px solid #666666;
    padding: 10px;
}