/* Fonts */

@font-face {
    font-family: 'Dustismo Roman';
    src: url('fonts/DustismoRoman.woff2') format('woff2'),
        url('fonts/DustismoRoman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kirsty';
    src: url('fonts/Kirsty.woff2') format('woff2'),
        url('fonts/Kirsty.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 20px;
    min-width: 980px;
    max-width: 1400px;
    font-family: "Dustismo Roman", sans-serif, serif, system-ui;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Kirsty"
}

/* Layout */

main {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr;
    gap: 40px;
    padding: 20px 0;
}

/* header and footer */

header {
    border-bottom: 5px solid #aa6666;
}

footer {
    border-top: 5px solid #aa6666;
}

footer p {
    text-align: center;
}

/* GENERAL TEXT STYLING */
/* 1. */
h1 {
    font-size: 3rem;
    text-align: center;
}

/* 1. */
h2 {
    font-size: 2rem;
}

/* 2. */
p,
li {
    line-height: 1.6;
}

/* 3. */
h1 {
    text-align: center;
}

/* 4. */
h2 {
    margin-bottom: 0;
}

/* 5. */
h1,
h2,
p,
li {
    letter-spacing: 0.5px;
}

/* 6. */
section h2+p {
    text-indent: 2rem;
}

/* LINK STYLING */
/* 1. */
a {
    cursor: pointer;
}

a:link {
    color: #aa6666;
}

a:visited {
    color: #d53815;
}

a:focus,
a:hover {
    color: #e49595ce;
}

/* 2.  */
a {
    text-decoration: underline solid;
}

a:focus,
a:hover {
    text-decoration: none;
}

/* 3. */
a {
    outline: none;
}

/* 4. */
a[href^="http"]::after {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.25em;
    background-size: 100%;
    background-image: url("external-link-svgrepo-com.svg")
    /* padding-right: 16px;
    background: url("external-link-svgrepo-com.svg") no-repeat right center;
    background-size: 14px 14px; */
}

/* LIST STYLING */
/* 1. */
ul,
ol {
    margin: 1rem 0;
}

/* 2. */
ul {
    list-style: square;
}

ol {
    list-style-type: lower-roman;
}

/* NAVIGATION MENU STYLING */
nav ul {
    padding-left: 0;
}

nav li {
    list-style-type: none;
    margin-bottom: 1rem;

}
/* 1. & 3.  */
nav li a {
    display: inline-block;
    width: 100%;
    line-height: 1.6;
    background-color: #ead0c6e2;
    letter-spacing: 1px;
    min-height: 4em;
    max-height: 4em;
    border-radius: 8px;
    text-decoration: none;
    /* 4. */
    text-align: center;
    padding: 1.2em 6px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    font-weight: bold;
}

/* 2. */
nav a {
    font-family: "Kirsty", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8em;
}

/* 5. */
nav a {
    text-transform: uppercase;
}

nav li a:focus,
nav li a:hover {
    color: white;
    background:#aa6666
}

nav li a:active {
    color: white;
    background: black;
}