* {
    box-sizing: border-box;
}

html {
    font:
        1.2em/1.4 Arial,
        Helvetica,
        sans-serif;
}

body {
    padding: 0 0 1em;
}

header {
    background-color: #333;
    color: #fff;
    border: 5px solid #000;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    border-top: 1px solid #999;
}

header .title {
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    padding: 1em;
}

main {
    padding: 0 1em;
}

.cards {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards li {
    border: 5px solid #000;
    margin-bottom: 1em;
}

.cards h2 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0.5em 1em;
}

.cards .inner {
    padding: 0.5em 1em;
}

.sidebar {
    background-color: #333;
    border: 5px solid #000;
    padding: 0.5em 1em;
    color: #fff;
}

/* WHERE MY CSS BEGINS */

@media screen and (min-width: 52em) {

    /* Update header */
    header {
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;
        align-items: center;
    }

    header a {
        border: none;
    }

    header ul {
        display: flex;
    }

    /* Update page content layout for grid layout */
    main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 0.9em;
    }

    .sidebar {
        margin-top: 0.9em;
    }

    /* Create cards sub grid */
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
        gap: 0.75em;
    }
/* 
    .cards li {
        margin-bottom: 0;
    } */
}