@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norwester';
    src: url('Norwester-Regular.woff2') format('woff2'),
        url('Norwester-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

