/* CSS for grid_frameworks */
.container {
    font-family: sans-serif;
}

header,
footer {
    border-radius: 5px;
    padding: 10px;
    background-color: rebeccapurple;
    color: whitesmoke;
    text-align: center;
}

aside {
    border-right: 1px solid rebeccapurple;
}

.container {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

header {
    grid-column: 1 / 13;
    grid-row: 1;
}

main {
    grid-column: 4 / 13;
    grid-row: 2;
}

aside {
    grid-column: 1 / 4;
    grid-row: 2;
}

footer {
    grid-column: 1 / 13;
    grid-row: 3;
}