#phoneNumber {
    float: left;
}

#emailAddress {
    text-align: right;
}

h1 {
    float: left;
    display: inline;
}

header {
    margin: 1rem;
}

[class|="phone"] {
    background: linear-gradient(green, yellow)
}