/* ENTIRE PAGE SETUP */
a:hover {
    text-decoration: none;
}

/* HEADER INFORMATION */

header {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


[class|="phone"] {
    background: linear-gradient(green, yellow);
}


h1 {
    text-decoration: underline solid black 2px;
}

.pageSections {
    padding: 4px;
    margin: 4px;
}

.pageSections li {
    border: 2px solid black;
}