/* CSS for task_3 */
body {
    font: 1.2em / 1.5 sans-serif;
}

.grid>* {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.grid {
    grid-template-areas:
        "one one"
        "two three"
        ". four";
}

.one {
    grid-area: one
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}